body p {
  max-width: 65ch;
}

.header__logo {
  height: 4.5rem;
}

@media only screen and (width < 768px) {
  .header__logo {
    height: 3.5rem;
  }
}

.hide {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
  white-space: nowrap;
  overflow-wrap: normal;
}